<button
  md-mini-fab
  class="logout"
  type="button"
  mdTooltip="Log out"
  [routerLink]="['/']">
  <img class="logout" src="assets/logout_white.png">
</button>

<form #newTodoForm="ngForm">
  <md-card class="todoFormCard">

    <div class="container">

      <label>New Todo: </label>

      <md-input-container>
        <input
          #titleTodo
          class="title"
          mdInput
          placeholder="Title"
          name="title"
          [(ngModel)]="title"
          type="text"
          ngModel
          required
          autofocus>
      </md-input-container>

      <md-input-container>
        <textarea
          #descriptionTodo
          class="description"
          type="text"
          [(ngModel)]="description"
          mdInput
          cols="19"
          name="description"
          ngModel
          placeholder="Description">
        </textarea>
      </md-input-container>
    </div>

    <button
      type="button"
      (click)="addTodo$.next(newTodoForm.value)"
      md-raised-button
      class="submitButton"
      [disabled]="newTodoForm.invalid"><md-spinner *ngIf="loading"></md-spinner>New todo
    </button>
  </md-card>
</form>

<md-card class="listCard" *ngIf="!todoListShow">

    <md-card-title class="listHeaderTitle">
      {{user}}'s Todolist
    </md-card-title>

    <md-button-toggle-group #toggleGroup="mdButtonToggleGroup" (ngModelChange)="toggleFilterList(toggleGroup.value)" [ngModel]="filter">
      <md-button-toggle mdTooltip="Show uncompleted" value="SHOW_UNCOMPLETED">
        <img class="toggleImg" src="assets/task.png">
      </md-button-toggle>

      <md-button-toggle  mdTooltip="Show completed" value="SHOW_COMPLETED">
        <img class="toggleImg" src="assets/task-complete.png">
      </md-button-toggle>

      <md-button-toggle mdTooltip="Show all" value="SHOW_ALL">
        <img class="toggleImg" src="assets/list.png">
      </md-button-toggle>
    </md-button-toggle-group>

    <div class="progress">
      <md-progress-bar
          mdTooltip="Progress bar"
          class="todoProgress"
          [color]="color"
          [mode]="determinate"
          [value]="value">
      </md-progress-bar>
      <h6 class="progress">{{value}}%</h6>
    </div>

  <md-list>
    <form #updateTodoForm="ngForm">
      <md-list-item *ngFor="let todo of todos | async" class="listItem">
        <img md-list-avatar src="assets/task.png" *ngIf="!todo.completed"><img md-list-avatar src="assets/task-complete.png" *ngIf="todo.completed">

        <span md-line>
          <span *ngIf="!todo.isEdit">{{todo.title}}</span>
          <input
            *ngIf="todo.isEdit"
            [(ngModel)]="todo.title"
            type="text"
            name="title"
            ngModel>
        </span>

        <span md-line>
          <span *ngIf="!todo.isEdit">{{todo.description}}</span>
          <input
            *ngIf="todo.isEdit"
            [(ngModel)]="todo.description"
            type="text"
            name="description"
            ngModel>
        </span>

        <md-checkbox
          class="checkbox"
          (change)="toggleTodoCompleted$.next(todo.id)"
          mdTooltip="Done?"
          [checked]="todo.completed"
          >
        </md-checkbox>

        <button
          class="edit"
          *ngIf="!todo.isEdit"
          type="button"
          md-raised-button
          (click)="toggleEditTodo$.next(todo.id)"
          mdTooltip="Edit"
          ><img class="edit" src="assets/edit_white.png">
        </button>

        <button
          class="delete"
          *ngIf="!todo.isEdit"
          type="button"
          md-raised-button
          mdTooltip="Delete"
          (click)="deleteTodo$.next(todo.id)"
          ><img class="delete" src="assets/delete_white.png">
        </button>

        <button
          class="update"
          *ngIf="todo.isEdit"
          md-raised-button
          type="button"
          mdTooltip="Update"
          (click)="updateTodo$.next(todo)"
          ><img class="update" src="assets/update_white.png">
        </button>

        <button
          class="cancel"
          *ngIf="todo.isEdit"
          md-raised-button
          mdTooltip="Cancel"
          (click)="toggleEditTodo$.next(todo.id)"
          ><img class="cancel" src="assets/cancel_white.png">
        </button>
      </md-list-item>
    </form>
  </md-list>
</md-card>
