<form #newTodoForm="ngForm" (ngSubmit)="newTodo(newTodoForm)">
  <md-card class="todoFormCard">
    <md-card-title>
      New todo
    </md-card-title>

    <md-input-container>
      <input
        class="todoTitle"
        mdInput
        placeholder="Title"
        name="todoTitle"
        ngModel
        required
        autofocus>
    </md-input-container>

    <md-input-container>
      <textarea
        class="todoDescription"
        mdInput
        cols="50"
        name="todoDescription"
        ngModel
        placeholder="Description">
      </textarea>
    </md-input-container>

    <button
      type="submit"
      md-raised-button
      class="submitButton"
      [disabled]="newTodoForm.invalid"><md-spinner *ngIf="loading"></md-spinner>New todo
    </button>
  </md-card>
</form>

<md-card class="listCard" *ngIf="todoListShow">
  <md-card-title>
    {{user}}'s Todolist
  </md-card-title>
  <md-list>
    <md-list-item *ngFor="let todo of todos; let i = index" class="listItem">
      <img md-list-avatar src="assets/task.png" *ngIf="!checked"><img md-list-avatar src="assets/task-complete.png" *ngIf="checked">
      <p md-line>{{todo.title}}</p>
      <p md-line>{{todo.description}}</p>

      <md-checkbox class="checkbox" [(ngModel)]="checked">Done</md-checkbox>
      <button class="update" type="button" md-raised-button>Update<img class="update" src="assets/update.png"></button>
      <button class="delete" type="button" md-raised-button>Delete<img class="delete" src="assets/delete.png"></button>
    </md-list-item>
  </md-list>
</md-card>
