img.logout {
  max-width: 100%;
}

button.logout {
  background-color: grey;
  position: absolute;
  top: 40px;
  right: 40px;
}

button.logout:hover {
  background-color: darkred;
}

md-input-container.mat-input-container {
  margin: 10px;
  max-width: 30%;
}

label {
  margin-left: 10%;
}

img.delete, img.update, img.edit, img.cancel {
  max-width: 40%;
  vertical-align: middle;
}

md-spinner {
  max-width: 20%;
  max-height: 25px;
  display: inline-block;
}

.listItem .delete, .listItem .cancel {
  background-color: red;
  display: inline-block;
}

.listItem .update, .listItem .edit {
  background-color: green;
  display: inline-block;
}

.listItem .checkbox {
  color: grey;
  display: inline-block;
}

md-checkbox {
  margin: 5px;
}

button.submitButton {
  max-width: 120px;
}

button.delete, button.update, button.edit, button.cancel {
  margin: 5px;
}

md-card.listCard {
  max-width: 80%;
  margin:  40px auto;
}

md-card.todoFormCard {
  max-width: 50%;
  margin: 20px auto;
}

md-list {
  max-width: 70%;
  margin: 20px auto;
}

md-progress-bar.todoProgress {
  position: absolute;
  top: 35px;
  right: 70px;
  max-width: 150px;
}

h6.progress {
  position: absolute;
  top: 5px;
  right: 30px;
  max-width: 35px;
  max-height: 10px;
  padding: 0;
}

md-button-toggle-group {
  position: absolute;
  top: 20px;
  left: 40%;
  max-width: 180px;
}

md-button-toggle {
  max-width: 60px;
  display: flex;
}

img.toggleImg {
  max-width: 100%;
}

md-card-title.listHeaderTitle {
  max-width: 300px;
}

div.container {
  display: inline;
}
