md-card {
  max-width: 40%;
  margin: auto;
}

md-input-container.mat-input-container {
  display: block;
  max-width: 50%;
  margin: 40px auto;
}

h2 {
  text-align: center;
}

button.showPasswords:hover, button.hidePasswords:hover {
  color: pink;
}

button.submit:hover {
  color: green;
}

button.submit {
  margin-right: 20px;
}

button.showPasswords, button.hidePasswords {
  position: absolute;
  top: 205px;
  right: 70px;
}

div.buttonContainer {
  display: block;
  max-width: 230px;
  margin: auto;
}

button.loginLink:hover {
  color: blue;
}

small {
  margin-left: 25%;
  margin-bottom: 20px;
}
